{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello, bienvenue ici</h1>
            <h2>Titre de la page : {{ title }}</h2>

            <ul>
                {% for book in books %}
                    <li>{{ book }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}