{% extends "base.html.twig" %}

{% block body %}

{{ form_start(formProduct) }}
    {{ form_widget(formProduct) }}
    <button class="btn btn-primary float-right">Créer un produit</button>
{{ form_end(formProduct) }}

{% endblock %}